* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

p,h1{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

h1 {
  margin-bottom: 15px;
  text-align: center;
  font-size: 175%;
}




.head {
  margin: 0;
  padding: 10px;
  border: 1px solid black;
  background-color: lightpink;
  float: right;
  text-align: center;
  color: #000000;
  font-size: 125%;
}

.sec {
	border: 1px solid black;
	background-color: lightgrey;
	margin: 20px 10px;
	overflow: auto;
	height: 250px;
}

.token{
	color: red;
	clear: both;
	padding: 10px;
	/*overflow: auto;*/
	text-align: justify;
	font-size: 100%;
}

#h1 {
	background-color: lightblue;
}

#h2 {
	background-color: lightgreen;
}

/*Responsive Design*/
.row{
    width: 100%;
}

/* Large devices*/
@media(min-width: 992px) {
    .col-lg-4{
        float: left;
    }
    .col-lg-4{
        width: 33.3%;
    }
}

/* Medium devices*/
@media (min-width: 768px) and (max-width: 991px) {
    .col-md-6, .col-md-12{
        float: left;
    }
    .col-md-6{
        width:50%;
    }
    .col-md-12{
        width:100%;
    }
}

/*Small devices*/
@media(max-width: 767px){
    .col-md-12{
        float: left;
    }
    .col-sm-12{
        width: 100%;
    }
}
